@charset "utf-8";
/* CSS Document */

* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;

}

body {
	width:100%
	border-top:3px solid #333;
	border-left:3px solid #333;
	border-right:3px solid #333;
	height:auto;
	
}

/*HEADER*/
#header-nav {
	width:100%;
	background-color:#888;
	border-top:3px solid #333;
	border-bottom:3px solid #333;
	padding:0px 20px; 
}

h1 {
	font:bold 1.5em Verdana, Geneva, sans-serif;
}

.navbar-toggler {
	border-radius:5px;
	
}




@media (max-width: 575px) {
	
	.collapse .navbar-collapse {
		margin-bottom:0px;
		margin-left:0px;
		
	}

	#navbarSupportedContent {
		
		border:2px solid #333;
		
	}
	
	#menu-item-1 {
		font:bold 1.1em Verdana, Geneva, sans-serif;
		border-bottom:2px solid #333;
		width:95%;
		margin:auto;
	}
	#menu-item-2 {
		font:bold 1.1em Verdana, Geneva, sans-serif;
		border-bottom:2px solid #333;
		width:95%;
		margin:auto;
	}
	#menu-item-3 {
		font:bold 1.1em Verdana, Geneva, sans-serif;
	}
}
.nav-link {
	padding:10px;
}

#our-menu {
	font:bold 1.4em Verdana, Geneva, sans-serif;
	margin-top:20px;
}




/*END HEADER*/

section {
	margin:10px;

}

section div {
	margin:20px auto;
	background-color:#999;
	border:3px solid #333;
}

div > p {
	font:bold 0.9em Arial, Helvetica, sans-serif;
	padding:10px 10px 10px 10px;
	clear:both;
}	



h2 {
	font:bold 1.25em Verdana, Geneva, sans-serif;
	text-align:center;	
	width:100%;
	margin:0px 0px;
	padding:5px;

}

footer > p {
	clear:both;
}

#myfooter {
	font:normal 0.8em  Verdana, Geneva, sans-serif;
	text-align:right;
	background-color: #999;
	border-top:3px solid #333;
	border-bottom:3px solid #333;
	padding-right:5px;
	clear:both;
}


